#hero { 
    justify-content: center;
    display: flex;
    margin: 0 auto;
    color: #FEFAE0;
    font-size: max(5rem, 30px);
    font-family: 'Questrial', sans-serif;
    padding-top: 1em;

}

#last-name {
    padding-left: 1em;
}