@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Mr+Dafoe&family=Questrial&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Questrial', sans-serif;
}

.navbar {
    min-height: 6rem;
    color: white;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    margin: 0 3%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
      

    .nav-span {
        opacity: 20%;
        padding: 0 5px;
    }


    h1 {
        font-family: 'Mr Dafoe', cursive;
        font-size: 3.5rem;
        user-select: none;
        cursor: pointer;
        color: #FEFAE0;
    }

    ul {
        display: flex;
        font-size: .9rem;

        li {
            margin: 20px;
            list-style-type: none;

            a {
                color: #FEFAE0;

                &:visited,
                &:active,
                &:focus,
                &:link {
                    text-decoration: none;
                }
            }
        }

        button {
            font-family: 'Questrial', sans-serif;
            align-self: center;
            appearance: none;
            outline: none;
            border: 1px solid #FEFAE0;
            color: #FEFAE0;
            background-color: transparent;
            border-radius: 5px;
            height: 50%;
            font-size: 1rem;
            padding: 10px 16px;
            cursor: pointer;

            &:hover {
                background-color: rgba(254, 250, 224, .2);
            }
        }
    }
}

@media (max-width: 861px) {
    .navbar {
        h1 {
            position: fixed;
            top: 40px;
            bottom: 80px;
            justify-content: flex-start;
        }

        .list-container {
            display: flex;
            flex-direction: column;
        }

        ul {
            display: none;
            flex-direction: column;
            position: absolute;
            right: 10px;
        }
    }
}