.skills-container {
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #FEFAE0;
}

h2 {
    margin: 0 auto;
    font-family: 'Questrial', sans-serif;
    top: 1850px;
    font-weight: 500;
    font-size: 3rem;
    border-bottom: 3px solid rgb(175, 175, 45);
}

.skills-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.skills-li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 3rem;
    min-width: 100px;
}

.skills-icon {
    font-size: 4rem;
    transition: all .2s ease-in-out;
}

.skills-icon:hover {
    color: rgb(175, 175, 45);
    transform: scale(1.2);
}

.skills-text {
    padding-top: 1rem;
}

@media (max-width: 861px) {
    .skills-container {
        padding: 0rem 4rem;
    }

    h2 {
        top: 2200px;
        font-size: 2.3rem;
        margin-bottom: 1rem;
    }

    .skills-items {
        grid-template-columns: repeat(2, 1fr);
    }

    .skills-icon {
        font-size: 2.7rem;
    }

    .skills-li {
        padding: 1rem
    }
}
